<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.jhechem.user.mapper.RoleAuthGroupMapper">

    <select id="listGroupIdByRoleIds" resultType="java.lang.Integer">
        SELECT DISTINCT auth_group_id FROM role_auth_group_rel
        WHERE 1=0
        <foreach collection="roleIds" item="roleId" open="OR role_id in (" close=")" separator=",">
            #{roleId}
        </foreach>
    </select>

    <select id="getAuthGroupIdByName" resultType="java.lang.Integer">
        SELECT DISTINCT id FROM auth_group
        WHERE name = #{0}
    </select>
</mapper>
