<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.jhechem.order.mapper.OrderMapper">

    <resultMap id="orderMap" type="top.jhechem.order.pojo.Order">
        <id column="bookid" property="bookid"/>
        <result property="paixu" column="paixu"/>
        <result property="casno" column="casno"/>
        <result property="bookname" column="bookname"/>
        <result property="enbookname" column="enbookname"/>
        <result property="ordernum" column="ordernum"/>
        <result property="fapiaonum" column="fapiaonum"/>
        <result property="krname" column="krname"/>
        <result property="date1" column="date1"/>
        <result property="date2" column="date2"/>
        <result property="cjsl" column="cjsl"/>
        <result property="style" column="style"/>
        <result property="price1" column="price1"/>
        <result property="price2" column="price2"/>
        <result property="ysfs" column="ysfs"/>
        <result property="ysfy" column="ysfy"/>
        <result property="hl" column="hl"/>
        <result property="zsh" column="zsh"/>
        <result property="huokuan" column="huokuan"/>
        <result property="lirun" column="lirun"/>
        <result property="yundan" column="yundan"/>
        <result property="date3" column="date3"/>
        <result property="cpgg" column="cpgg"/>
        <result property="baozhuang" column="baozhuang"/>
        <result property="isyp" column="isyp"/>
        <result property="gyscontact" column="gyscontact"/>
        <result property="gysname" column="gysname"/>
        <result property="iskucun" column="iskucun"/>
        <result property="kucun" column="kucun"/>
        <result property="fj1" column="fj1"/>
        <result property="fj2" column="fj2"/>
        <result property="adminId" column="admin_id"/>
        <result property="adminName" column="admin_name"/>
        <result property="isjs" column="isjs"/>
        <result property="isdh" column="isdh"/>
        <result property="isfh" column="isfh"/>
        <result property="isfp" column="isfp"/>
        <result property="isfxbg" column="isfxbg"/>
        <result property="zhfrom" column="zhfrom"/>
        <result property="ists" column="ists"/>
        <result property="date4" column="date4"/>
        <result property="issh" column="issh"/>
        <result property="iskp" column="iskp"/>
        <result property="isgcfp" column="isgcfp"/>
        <result property="mylx" column="mylx"/>
        <result property="ishx" column="ishx"/>
        <result property="date5" column="date5"/>
        <result property="iswcts" column="iswcts"/>
        <result property="ishkqf" column="ishkqf"/>
        <result property="qgchk" column="qgchk"/>
        <result property="krqk" column="krqk"/>
        <result property="isok" column="isok"/>
        <result property="krkpdz" column="krkpdz"/>
        <result property="krfhdz" column="krfhdz"/>
        <result property="content" column="content"/>
    </resultMap>


    <insert id="add" parameterType="top.jhechem.order.pojo.Order"
            useGeneratedKeys="true" keyProperty="bookid">
        INSERT INTO jh_order (<include refid="columnAdd"/>)
        VALUES (<include refid="insertBody"/>);
    </insert>

    <update id="update" parameterType="top.jhechem.order.pojo.Order">
        UPDATE jh_order
        <include refid="updateBody"/>
        WHERE `bookid` = #{bookid}
    </update>

    <update id="delete" parameterType="java.lang.Long">
        UPDATE jh_order SET `status` = 0 AND `update_time` = CURRENT_TIMESTAMP
        WHERE 1 = 0 OR
        <foreach collection="bookids" item="id" open="`bookid` IN (" close=")" separator=",">
            #{id}
        </foreach>
    </update>

    <select id="get" parameterType="java.lang.Long" resultMap="orderMap">
        SELECT
        <include refid="columnGet"/>
        FROM jh_order o
        LEFT JOIN admin a ON  o.admin_id = a.id
        WHERE o.`bookid` = #{0} AND o.`status` = 1
    </select>

    <select id="list" resultMap="orderMap">
        SELECT
        <include refid="columnGet"/>
        FROM jh_order o
        LEFT JOIN admin a ON o.admin_id = a.id
        <where>
            o.`status` = 1
            <include refid="searchBody"/>
        </where>
        <if test="orderBy != null">ORDER BY ${orderBy}</if>
        <if test="limit != null">limit ${limit}</if>
        <if test="offset != null">offset ${offset}</if>
    </select>

    <select id="count" resultType="int">
        SELECT count(1)
        FROM jh_order o
        LEFT JOIN admin a ON o.admin_id = a.id
        <where>
            o.`status` = 1
            <include refid="searchBody"/>
        </where>
    </select>

    <select id="getOrderStatistics" resultType="top.jhechem.order.pojo.OrderStatistic">
        SELECT DATE_FORMAT(date1,'%Y-%m-%d') grain, IFNULL(SUM(lirun),0) lirun
        FROM jh_order o
        LEFT JOIN admin a ON o.admin_id = a.id
        <where>
            o.`status` = 1
            <include refid="searchBody"/>
        </where>
        GROUP BY grain
        ORDER BY date1
    </select>


    <sql id="columnAdd">
      `paixu`, `casno`, `bookname`, `enbookname`, `ordernum`, `fapiaonum`, `krname`, `date1`,
`date2`, `cjsl`, `style`, `price1`, `price2`, `ysfs`, `ysfy`, `hl`, `zsh`, `huokuan`,
`lirun`, `yundan`, `date3`, `cpgg`, `baozhuang`, `isyp`, `gyscontact`, `gysname`,
`iskucun`, `kucun`, `fj1`, `fj2`,  `admin_id`,`isjs`, `isdh`, `isfh`, `isfp`, `isfxbg`,
`zhfrom`, `ists`, `date4`, `issh`, `iskp`, `isgcfp`, `mylx`, `ishx`, `date5`, `iswcts`,
`ishkqf`, `qgchk`, `krqk`, `isok`, `krkpdz`, `krfhdz`, `content`
    </sql>

    <sql id="columnGet">
        o.bookid,o.paixu,o.casno,o.bookname,o.enbookname,o.ordernum,o.fapiaonum,o.krname,
        IF(o.date1 IS NULL,0,unix_timestamp(o.date1)) date1,o.date2,o.cjsl,o.style,o.price1,
        o.price2,o.ysfs,o.ysfy,o.hl,o.zsh,o.huokuan,o.lirun,o.yundan,o.date3,o.cpgg,o.baozhuang,
        o.isyp,o.gyscontact,o.gysname,o.iskucun,o.kucun,o.fj1,o.fj2,o.admin_id,o.isjs,
        o.isdh,o.isfh,o.isfp,o.isfxbg,o.zhfrom,o.ists,o.date4,o.issh,o.iskp,o.isgcfp,o.mylx,
        o.ishx,o.date5,o.iswcts,o.ishkqf,o.qgchk,o.krqk,o.isok,o.krkpdz,o.krfhdz,o.content,
        a.username admin_name
    </sql>

    <sql id="insertBody">
        <choose>
            <when test="paixu !=null">#{paixu}</when>
            <otherwise>0</otherwise>
        </choose>
        <choose>
            <when test="casno !=null and casno != ''">,#{casno}</when>
            <otherwise>,NULL</otherwise>
        </choose>
        <choose>
            <when test="bookname !=null and bookname != ''">,#{bookname}</when>
            <otherwise>,NULL</otherwise>
        </choose>
        <choose>
            <when test="enbookname !=null and enbookname != ''">,#{enbookname}</when>
            <otherwise>,NULL</otherwise>
        </choose>
        <choose>
            <when test="ordernum !=null and ordernum != ''">,#{ordernum}</when>
            <otherwise>,NULL</otherwise>
        </choose>
        <choose>
            <when test="fapiaonum !=null and fapiaonum != ''">,#{fapiaonum}</when>
            <otherwise>,NULL</otherwise>
        </choose>
        <choose>
            <when test="krname !=null and krname != ''">,#{krname}</when>
            <otherwise>,NULL</otherwise>
        </choose>
        <choose>
            <when test="date1 !=null">,from_unixtime(#{date1})</when>
            <otherwise>,NULL</otherwise>
        </choose>
        <choose>
            <when test="date2 !=null and date2 != ''">,#{date2}</when>
            <otherwise>,NULL</otherwise>
        </choose>
        <choose>
            <when test="cjsl !=null and cjsl != ''">,#{cjsl}</when>
            <otherwise>,NULL</otherwise>
        </choose>
        <choose>
            <when test="style !=null and style != ''">,#{style}</when>
            <otherwise>,NULL</otherwise>
        </choose>
        <choose>
            <when test="price1 !=null and price1 != ''">,#{price1}</when>
            <otherwise>,NULL</otherwise>
        </choose>
        <choose>
            <when test="price2 !=null and price2 != ''">,#{price2}</when>
            <otherwise>,NULL</otherwise>
        </choose>
        <choose>
            <when test="ysfs !=null and ysfs != ''">,#{ysfs}</when>
            <otherwise>,NULL</otherwise>
        </choose>
        <choose>
            <when test="ysfy !=null and ysfy != ''">,#{ysfy}</when>
            <otherwise>,NULL</otherwise>
        </choose>
        <choose>
            <when test="hl !=null and hl != ''">,#{hl}</when>
            <otherwise>,NULL</otherwise>
        </choose>
        <choose>
            <when test="zsh !=null and zsh != ''">,#{zsh}</when>
            <otherwise>,NULL</otherwise>
        </choose>
        <choose>
            <when test="huokuan !=null and huokuan != ''">,#{huokuan}</when>
            <otherwise>,NULL</otherwise>
        </choose>
        <choose>
            <when test="lirun !=null">,#{lirun}</when>
            <otherwise>,0</otherwise>
        </choose>
        <choose>
            <when test="yundan !=null and yundan != ''">,#{yundan}</when>
            <otherwise>,NULL</otherwise>
        </choose>
        <choose>
            <when test="date3 !=null and date3 != ''">,#{date3}</when>
            <otherwise>,NULL</otherwise>
        </choose>
        <choose>
            <when test="cpgg !=null">,#{cpgg}</when>
            <otherwise>,NULL</otherwise>
        </choose>
        <choose>
            <when test="baozhuang !=null and baozhuang != ''">,#{baozhuang}</when>
            <otherwise>,NULL</otherwise>
        </choose>
        <choose>
            <when test="isyp !=null">,#{isyp}</when>
            <otherwise>,NULL</otherwise>
        </choose>
        <choose>
            <when test="gyscontact !=null and gyscontact != ''">,#{gyscontact}</when>
            <otherwise>,NULL</otherwise>
        </choose>
        <choose>
            <when test="gysname !=null and gysname != ''">,#{gysname}</when>
            <otherwise>,NULL</otherwise>
        </choose>
        <choose>
            <when test="iskucun !=null">,#{iskucun}</when>
            <otherwise>,NULL</otherwise>
        </choose>
        <choose>
            <when test="kucun !=null">,#{kucun}</when>
            <otherwise>,NULL</otherwise>
        </choose>
        <choose>
            <when test="fj1 !=null and fj1 != ''">,#{fj1}</when>
            <otherwise>,NULL</otherwise>
        </choose>
        <choose>
            <when test="fj2 !=null and fj2 != ''">,#{fj2}</when>
            <otherwise>,NULL</otherwise>
        </choose>
        <choose>
            <when test="adminId !=null">,#{adminId}</when>
            <otherwise>,0</otherwise>
        </choose>
        <choose>
            <when test="isjs !=null">,#{isjs}</when>
            <otherwise>,NULL</otherwise>
        </choose>
        <choose>
            <when test="isdh !=null">,#{isdh}</when>
            <otherwise>,NULL</otherwise>
        </choose>
        <choose>
            <when test="isfh !=null">,#{isfh}</when>
            <otherwise>,NULL</otherwise>
        </choose>
        <choose>
            <when test="isfp !=null">,#{isfp}</when>
            <otherwise>,NULL</otherwise>
        </choose>
        <choose>
            <when test="isfxbg !=null">,#{isfxbg}</when>
            <otherwise>,NULL</otherwise>
        </choose>
        <choose>
            <when test="zhfrom !=null and zhfrom != ''">,#{zhfrom}</when>
            <otherwise>,NULL</otherwise>
        </choose>
        <choose>
            <when test="ists !=null">,#{ists}</when>
            <otherwise>,NULL</otherwise>
        </choose>
        <choose>
            <when test="date4 !=null and date4 != ''">,#{date4}</when>
            <otherwise>,NULL</otherwise>
        </choose>
        <choose>
            <when test="issh !=null">,#{issh}</when>
            <otherwise>,NULL</otherwise>
        </choose>
        <choose>
            <when test="iskp !=null">,#{iskp}</when>
            <otherwise>,NULL</otherwise>
        </choose>
        <choose>
            <when test="isgcfp !=null">,#{isgcfp}</when>
            <otherwise>,NULL</otherwise>
        </choose>
        <choose>
            <when test="mylx !=null and mylx != ''">,#{mylx}</when>
            <otherwise>,NULL</otherwise>
        </choose>
        <choose>
            <when test="ishx !=null">,#{ishx}</when>
            <otherwise>,NULL</otherwise>
        </choose>
        <choose>
            <when test="date5 !=null and date5 != ''">,#{date5}</when>
            <otherwise>,NULL</otherwise>
        </choose>
        <choose>
            <when test="iswcts !=null">,#{iswcts}</when>
            <otherwise>,NULL</otherwise>
        </choose>
        <choose>
            <when test="ishkqf !=null">,#{ishkqf}</when>
            <otherwise>,NULL</otherwise>
        </choose>
        <choose>
            <when test="qgchk !=null and qgchk != ''">,#{qgchk}</when>
            <otherwise>,NULL</otherwise>
        </choose>
        <choose>
            <when test="krqk !=null and krqk != ''">,#{krqk}</when>
            <otherwise>,NULL</otherwise>
        </choose>
        <choose>
            <when test="isok !=null">,#{isok}</when>
            <otherwise>,NULL</otherwise>
        </choose>
        <choose>
            <when test="krkpdz !=null and krkpdz != ''">,#{krkpdz}</when>
            <otherwise>,NULL</otherwise>
        </choose>
        <choose>
            <when test="krfhdz !=null and krfhdz != ''">,#{krfhdz}</when>
            <otherwise>,NULL</otherwise>
        </choose>
        <choose>
            <when test="content !=null and content != ''">,#{content}</when>
            <otherwise>,NULL</otherwise>
        </choose>
    </sql>

    <sql id="updateBody">
        <set>
            <if test="paixu != null">`paixu` = #{paixu},</if>
            <if test="casno != null">`casno` = #{casno},</if>
            <if test="bookname != null">`bookname` = #{bookname},</if>
            <if test="enbookname != null">`enbookname` = #{enbookname},</if>
            <if test="ordernum != null">`ordernum` = #{ordernum},</if>
            <if test="fapiaonum != null">`fapiaonum` = #{fapiaonum},</if>
            <if test="krname != null">`krname` = #{krname},</if>
            <if test="date1 != null">`date1` = from_unixtime(#{date1}),</if>
            <if test="date2 != null">`date2` = #{date2},</if>
            <if test="cjsl != null">`cjsl` = #{cjsl},</if>
            <if test="style != null">`style` = #{style},</if>
            <if test="price1 != null">`price1` = #{price1},</if>
            <if test="price2 != null">`price2` = #{price2},</if>
            <if test="ysfs != null">`ysfs` = #{ysfs},</if>
            <if test="ysfy != null">`ysfy` = #{ysfy},</if>
            <if test="hl != null">`hl` = #{hl},</if>
            <if test="zsh != null">`zsh` = #{zsh},</if>
            <if test="huokuan != null">`huokuan` = #{huokuan},</if>
            <if test="lirun != null">`lirun` = #{lirun},</if>
            <if test="yundan != null">`yundan` = #{yundan},</if>
            <if test="date3 != null">`date3` = #{date3},</if>
            <if test="cpgg != null">`cpgg` = #{cpgg},</if>
            <if test="baozhuang != null">`baozhuang` = #{baozhuang},</if>
            <if test="isyp != null">`isyp` = #{isyp},</if>
            <if test="gyscontact != null">`gyscontact` = #{gyscontact},</if>
            <if test="gysname != null">`gysname` = #{gysname},</if>
            <if test="iskucun != null">`iskucun` = #{iskucun},</if>
            <if test="kucun != null">`kucun` = #{kucun},</if>
            <if test="fj1 != null">`fj1` = #{fj1},</if>
            <if test="fj2 != null">`fj2` = #{fj2},</if>
            <if test="adminId != null">`admin_id` = #{adminId},</if>
            <if test="isjs != null">`isjs` = #{isjs},</if>
            <if test="isdh != null">`isdh` = #{isdh},</if>
            <if test="isfh != null">`isfh` = #{isfh},</if>
            <if test="isfp != null">`isfp` = #{isfp},</if>
            <if test="isfxbg != null">`isfxbg` = #{isfxbg},</if>
            <if test="zhfrom != null">`zhfrom` = #{zhfrom},</if>
            <if test="ists != null">`ists` = #{ists},</if>
            <if test="date4 != null">`date4` = #{date4},</if>
            <if test="issh != null">`issh` = #{issh},</if>
            <if test="iskp != null">`iskp` = #{iskp},</if>
            <if test="isgcfp != null">`isgcfp` = #{isgcfp},</if>
            <if test="mylx != null">`mylx` = #{mylx},</if>
            <if test="ishx != null">`ishx` = #{ishx},</if>
            <if test="date5 != null">`date5` = #{date5},</if>
            <if test="iswcts != null">`iswcts` = #{iswcts},</if>
            <if test="ishkqf != null">`ishkqf` = #{ishkqf},</if>
            <if test="qgchk != null">`qgchk` = #{qgchk},</if>
            <if test="krqk != null">`krqk` = #{krqk},</if>
            <if test="isok != null">`isok` = #{isok},</if>
            <if test="krkpdz != null">`krkpdz` = #{krkpdz},</if>
            <if test="krfhdz != null">`krfhdz` = #{krfhdz},</if>
            <if test="content != null">`content` = #{content},</if>
            `update_time` = CURRENT_TIMESTAMP
        </set>
    </sql>

    <!--private String casno;-->
    <!--private String enbookname;-->
    <!--private String ordernum;-->
    <!--private String huokuan;-->
    <!--private String gysname;-->
    <!--private String gyscontact;-->
    <!--private String lirun;-->
    <!--private String style;-->
    <!--private String yundan;-->
    <sql id="searchBody">
        <if test="bookid != null">AND o.`bookid` = #{bookid}</if>
        <if test="bookname != null">AND o.bookname LIKE #{bookname}</if>
        <if test="adminId != null">AND admin_id = #{adminId}</if>
        <if test="adminName != null">AND a.username LIKE #{adminName}</if>
        <if test="casno != null">AND o.casno = #{casno}</if>
        <if test="enbookname != null">AND o.enbookname LIKE #{enbookname}</if>
        <if test="ordernum != null">AND o.ordernum = #{ordernum}</if>
        <if test="huokuan != null">AND o.huokuan = #{huokuan}</if>
        <if test="gysname != null">AND o.gysname LIKE #{gysname}</if>
        <if test="gyscontact != null">AND o.gyscontact LIKE #{gyscontact}</if>
        <if test="lirun != null">AND o.lirun = #{lirun}</if>
        <if test="yundan != null">AND o.yundan = #{yundan}</if>
        <if test="isfh != null">AND o.isfh = #{isfh}</if>
        <if test="isdh != null">AND o.isdh = #{isdh}</if>
        <if test="issh != null">AND o.issh = #{issh}</if>
        <if test="ists != null">AND o.ists = #{ists}</if>
        <if test="isfxbg != null">AND o.isfxbg = #{isfxbg}</if>
        <if test="start != null">AND o.date1 &gt;= from_unixtime(#{start})</if>
        <if test="end != null">AND o.date1 &lt;= from_unixtime(#{end})</if>
        <if test="keyword != null">
            AND (
              o.bookname LIKE #{keyword}
              OR o.enbookname LIKE #{keyword}
              OR a.username LIKE #{keyword}
              OR o.gysname LIKE #{keyword}
              OR o.gyscontact LIKE #{keyword}
                )
        </if>
    </sql>


</mapper>
